/** @format */

// Pink and purple theme
$dark-blue: #3b3b58;
$backgroundFiller: #7a5980;
$expressionPurple: #a96da3;
// $lightPurple: #bc7c9c;
$statementPink: #cf9893;

// Light theme
$lightBgBase: #f7ece1;
$lightGrey: #cac4ce;
$statementBlue: #8d86c9;
$darkerBlue: #725ac1;
$darkText: #242038;
$prettyBlue: #bfcde0;

//Screen sizes
$tablet: 600px;
$desktop: 900px;

//dark theme
$bg-dark: #3c493f;
$text-dark: #f0f7f4;
$grey: #b3bfb8;
$special-dark: #a2e3c4;
$dark-green: #4e6151;
$box-green: #7e8d85;
$dark-title: #72bda3;

//light theme
$bg-light: #f5d5ed;
$text-light: #815e5b;
$soft-dark: #685155;
$lilac-dark: #7a6f9b;
$lilac-light: #8b85c1;

$magenta: #d14081;
$lavendel: #e6aace;
$sage: #bfcc94;
$amaranth: #d991ba;
$lightPurple: #f5cde7;
