/** @format */

// Pink and purple theme
$backgroundBase: #3b3b58;
$backgroundFiller: #7a5980;
$expressionPurple: #a96da3;
$lightPurple: #bc7c9c;
$statementPink: #cf9893;

// Light theme
$lightBgBase: #f7ece1;
$lightGrey: #cac4ce;
$statementBlue: #8d86c9;
$darkerBlue: #725ac1;
$darkText: #242038;
$prettyBlue: #bfcde0;

//Screen sizes
$tablet: 680px;
$desktop: 900px;
