/** @format */

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

// Keep this outside the other as it is not a child but a different classname
.text-animate-hover {
  font-size: 2em;
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
  &:hover {
    animation: rubberBand 1s;
    color: palevioletred;
    font-size: 2.2em;
  }
}
// If there are more animations...
@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}
