/** @format */

@import "variables";
@import "mixins";

.hero {
  width: auto;
  height: 80vh;

  margin: 0;
  padding: 0;
  background-size: cover; // Ensures the image covers the container fully
  background-position: center center; // Centers the image
  background-repeat: no-repeat;
  object-fit: cover;
  @include desktop {
    width: 100vw;
    height: auto;
    object-fit: cover;
  }
}
