/** @format */

@import "header.scss";
@import "animatedLetters.scss";
@import "about";
@import "themes";
@import "footer";
@import "singleProject";
@import "variables";

body {
  font-family: "Concert One", sans-serif;
  height: 100vh;
  margin: 0;
  width: 100wv;
  background-color: white;

  select {
    appearance: auto; /* Ensures default browser styling */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    background-color: #fff;
    cursor: pointer;
  }
  a {
    // cursor: pointer;
  }

  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    .theme-button {
      position: fixed;
      right: 80px;
      bottom: 100px;
      button {
        border: none;
        padding: 1em;
        border-radius: 1em;
      }
    }
  }
  .concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .illustration {
    height: 400px;
  }
}
