/** @format */

@import "header.scss";
@import "resumeComponent";
@import "qnaSection";
@import "home";
@import "hero";
@import "themes";
@import "footer";
@import "singleProject";
@import "variables";
@import "filterContainer.scss";
@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

body {
  font-family: "Concert One", sans-serif;
  margin: 0;
  width: 100wv;
  background-color: white;
  // margin-bottom: 2em;

  .jacquarda-bastarda-9-regular {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2 {
    font-family: "RoughTagline";

    font-size: 3em;
  }
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a {
    font-family: "Playwrite DE Grund", cursive;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 6px;
  }

  select {
    appearance: auto; /* Ensures default browser styling */
    padding: 3px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    cursor: pointer;
  }
  p {
    text-wrap: wrap;
  }
  input {
    padding: 3px;
    border: none;
  }
  a {
    text-decoration: none;
    text-transform: none;
  }

  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 3px;
    .theme-button {
      position: fixed;
      right: 80px;
      bottom: 100px;
      button {
        border: none;
        padding: 0.8em;
        border-radius: 1em;
      }
    }
  }
  .concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .illustration {
    height: 300px;
    @include desktop {
      height: 600px;
    }
  }
  @font-face {
    font-family: "RoughTagline";
    src: local("RoughTagline"),
      url("../assets/fonts/RoughTagline.ttf") format("truetype");
    font-weight: bold;
  }
}
