/** @format */

@import "variables";
@import "mixins";
.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  //   gap: 2em;
  &__work {
    width: 100vw;
    height: 100%;
    &__item {
      border-radius: 30px;
      padding-top: 1em;
    }
  }
  &__education {
    border-radius: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  &__other {
    margin-bottom: 0.6em;

    &__skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__item {
        border-radius: 10px;
        padding: 3px;
        // margin-top: 6px;
      }
    }
  }

  @include tablet {
    &__other {
      &__skills {
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
    }
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
    align-items: baseline;

    &__work {
      width: 45%;
    }
    &__other {
      width: 45%;

      &__skills {
        margin-top: 2px;
        margin-bottom: 2em;
      }
      &__hobby {
        width: 45%;
        margin-top: 2px;
        margin-bottom: 2em;
      }
    }
  }
}
