/** @format */

@use "variables";

.project-component {
  margin: 2em;
  height: 100%;
  padding: 2em;
  .singleProjectBtn {
    font-size: 2em;
    border: none;
  }
  &__title {
    //add some styling
    margin: 1em;
  }
  &__flex {
    &__desc {
      border: 1px solid red;
      padding: 1em;
      border-radius: 7%;
    }
  }
  // @include tablet {
  //   width: 60%;
  // }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
}

.modal-main {
  position: fixed;
  background: white;
  width: 35rem;
  height: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.modal.display-block {
  display: block;
}

.modal.display-none {
  display: none;
}
