/** @format */
@import "variables";

.dark {
  height: 100%;
  // padding-bottom: 4em;
  color: $sage;
  background-color: $dark-green;
  h1 {
    color: white;
  }
  h1,
  h2 {
    color: $grey;
  }

  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
  span,
  label,
  p {
    color: white;
  }
  .text {
    color: white;
    background-color: rgb(145, 213, 213);
  }
  .theme-background {
    color: white;
    background-color: $grey;
  }
  .project-container {
    color: white;
    background-color: $box-green;
  }
  .hamMenu-btn,
  .menu-items {
    color: white;
    background-color: $sage;
  }
  .singleProjectBtn {
    color: white;
    background-color: $dark-green;
  }
  .resume-container__other__skills__item {
    border: 1px solid $grey;
    box-shadow: 0 5px $grey;
  }
  .qna-container {
    background-color: $box-green;
  }

  .singleQuestion:hover {
    background-color: $sage;
    box-shadow: 0 5px $grey;
  }
  .singleQuestion:active {
    background-color: $sage;
  }
  .bubble {
    background-color: rgb(228, 231, 230);
  }
  .themeBtn {
    color: $magenta;
  }
  a {
    color: $special-dark;
  }
}

.light {
  height: 100%;
  // padding-bottom: 4em;
  color: $expressionPurple;
  background-color: $bg-light;
  .text {
    color: $statementBlue;
    background-color: $lightBgBase;
  }
  .theme-background {
    background-color: $lavendel;
  }

  .hamMenu-btn,
  .menu-items {
    color: $darkText;
    background-color: $lavendel;
  }
  .project-container {
    background-color: $lavendel;
  }
  h1,
  h2 {
    color: $amaranth;
  }

  h3,
  h4,
  h5,
  h6 {
    color: $darkText;
  }
  span,
  label,
  p {
    color: $darkText;
  }
  a {
    color: $darkText;
  }

  .resume-container__other__skills__item {
    border: 1px solid $amaranth;
    box-shadow: 0 5px $amaranth;
  }
  .qna-container {
    background-color: $lightPurple;
  }

  .singleProjectBtn {
    color: $lavendel;
    background-color: $bg-light;
  }

  .singleQuestion:hover {
    background-color: $lavendel;
    box-shadow: 0 5px $magenta;
  }
  .singleQuestion:active {
    background-color: $lavendel;
  }
  .bubble {
    background-color: rgb(255, 234, 241);
  }
  .themeBtn {
    color: $sage;
  }
}
