/** @format */
@import "variables";

.dark {
  color: $darkerBlue;
  background-color: $prettyBlue;
  .text {
    color: white;
    background-color: darkcyan;
  }
  .theme-background {
    color: white;
    background-color: darkcyan;
  }
  .project {
    color: white;
    background-color: grey;
  }
  .hamMenu-btn {
    color: white;
    background-color: $expressionPurple;
  }
}

.light {
  color: $expressionPurple;
  background-color: $bg-light;
  .text {
    color: $statementBlue;
    background-color: $lightBgBase;
  }
  .theme-background {
    color: $darkerBlue;
    background-color: $lightBgBase;
  }
  .project {
    color: grey;
    background-color: white;
  }
  .hamMenu-btn {
    color: white;
    background-color: $prettyBlue;
  }
  .project {
    background-color: $lavendel;
  }
  h1 {
    color: $magenta;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $amaranth;
  }
  span,
  label,
  p {
    color: pink;
  }
}
